# This file defines the owners of different parts of the repository.
# Each line specifies a path and its respective owners.

# Define a general owner for the entire repository.
*               @FabioB8a
*               @parraluisa
*               @luisalejandrobf
*               @felipe0525
