<div class="content">
    <div class="espacioTitulo">
        <h2 class="title">{{ title }}</h2>
    </div>
    
    <div class="espacioSearchBarAndPic">
        <div class="flex items-center w-full"> <!-- w-full expande a la totalidad de la pagina -->
            <div class="relative flex  w-full">
                <input type="text" class="form-control h-10 border-2 border-purple-400 rounded-full w-full px-4 focus:outline-none focus:border-purple-500 placeholder-purple-300 purpleText pr-10" placeholder="Searching for something?" aria-label="espacioSearchBarAndPic" aria-describedby="basic-addon2">
                <button class="absolute right-0 top-0 bg-white-400 h-10 w-10 rounded-full flex items-center justify-center" type="button" (click)="onSearchClick()"> 
                    <i class="bi bi-search text-purple-500"></i>
                </button>
            </div>            
            <button type="button" class="profile-button" (click)="onProfileClick()">
                <img src="assets/images/profile-pic.svg" alt="Imagen" class="profile-pic">
            </button>
        </div>
    </div>
</div>
