<div class="content">
    <div class="espacioTitulo">
        <h2 class="title">{{ title }}</h2>
    </div>
    
    <div class="espacioSearchBarAndPic">
        <div class="flex items-center w-full mb-3">
            <input type="text" class="form-control h-10 border-2 border-purple-400 rounded-full w-full px-4" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
            <button class="bg-purple-400 h-10 border-2 border-purple-400 rounded-full flex items-center justify-center ml-1" type="button" (click)="onSearchClick()"> 
                <i class="bi bi-search text-white"></i>
            </button>
            <button type="button" class="profile-button ml-3" (click)="onProfileClick()">
                <img src="assets/images/ProfilePic.png" alt="Imagen" class="profile-pic">
            </button>
        </div>
    </div>
</div>
