<div class="bg-secondary-500 border-secondary-500 py-40 h-screen">


  <div class="container mx-auto bg-[#ffc864]">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center justify-center ">

      <!-- Left Side (Image) -->
      <div class="bg-blue-400 hidden md:block mx-auto">
        <img src="https://via.placeholder.com/600" alt="Sign In Image"/>
      </div>

      <!-- Right Side (Sign In Form) -->
      <div class=" px-4 lg:px-16 ">
        <app-sign-in-input></app-sign-in-input>
      </div>

    </div>
  </div>
</div>
