<!-- https://dribbble.com/shots/14959823-Dashboard-UI-Elements -->
<div class="  max-w-[360px] h-auto">

  <!-- Titulo del calendario y flechas -->
  <div class="flex justify-between mb-4 ">

    <button class="text-primary-600">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 19l-7-7 7-7"/>
      </svg>
    </button>

    <h2 class="text-xl font-semibold text-primary-600">July 2022</h2>

    <button class="text-primary-600">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"/>
      </svg>
    </button>

  </div>

  <!-- Seccion de numeros del calendario -->
  <div class='flex justify-center rounded-lg mb-10'>

    <div class='flex  bg-primary-600 rounded-full mb-1 mx-0.5 cursor-pointer justify-center h-[75px]'>
      <div class='flex px-2 py-1'>
        <div class='text-center'>
          <p class='text-white text-lg group-hover:font-semibold mb-1'>S </p>
          <p class='text-white rounded-full bg-secondary-300 px-2 py-1'>12 </p>
        </div>
      </div>
    </div>

    <div class='flex group hover:bg-primary-600 rounded-full mb-1 mx-px cursor-pointer justify-center h-[75px]'>
      <div class='flex px-2 py-1'>
        <div class='text-center'>
          <p class='text-primary-600 group-hover:text-white text-lg group-hover:font-semibold mb-1'>M </p>
          <p
            class='text-primary-600 group-hover:text-white rounded-full bg-warning-200 group-hover:bg-secondary-300 px-2 py-1 '>
            12 </p>
        </div>
      </div>
    </div>

    <div class='flex group hover:bg-primary-600 rounded-full mb-1 mx-px cursor-pointer justify-center h-[75px]'>
      <div class='flex px-2 py-1'>
        <div class='text-center'>
          <p class='text-primary-600 group-hover:text-white text-lg group-hover:font-semibold mb-1'>T </p>
          <p
            class='text-primary-600 group-hover:text-white rounded-full bg-warning-200 group-hover:bg-secondary-300 px-2 py-1 '>
            12 </p>
        </div>
      </div>
    </div>

    <div class='flex group hover:bg-primary-600 rounded-full mb-1 mx-px cursor-pointer justify-center h-[75px]'>
      <div class='flex px-2 py-1'>
        <div class='text-center'>
          <p class='text-primary-600 group-hover:text-white text-lg group-hover:font-semibold mb-1'>W </p>
          <p
            class='text-primary-600 group-hover:text-white rounded-full bg-warning-200 group-hover:bg-secondary-300 px-2 py-1 '>
            12 </p>
        </div>
      </div>
    </div>

    <div class='flex group hover:bg-primary-600 rounded-full mb-1 mx-px cursor-pointer justify-center h-[75px]'>
      <div class='flex px-2 py-1'>
        <div class='text-center'>
          <p class='text-primary-600 group-hover:text-white text-lg group-hover:font-semibold mb-1'>T </p>
          <p
            class='text-primary-600 group-hover:text-white rounded-full bg-warning-200 group-hover:bg-secondary-300 px-2 py-1 '>
            12 </p>
        </div>
      </div>
    </div>

    <div class='flex group hover:bg-primary-600 rounded-full mb-1 mx-px cursor-pointer justify-center h-[75px]'>
      <div class='flex px-2 py-1'>
        <div class='text-center'>
          <p class='text-primary-600 group-hover:text-white text-lg group-hover:font-semibold mb-1'>F </p>
          <p
            class='text-primary-600 group-hover:text-white rounded-full bg-warning-200 group-hover:bg-secondary-300 px-2 py-1 '>
            12 </p>
        </div>
      </div>
    </div>

    <div class='flex group hover:bg-primary-600 rounded-full mb-1 mx-px cursor-pointer justify-center h-[75px]'>
      <div class='flex px-2 py-1'>
        <div class='text-center'>
          <p class='text-primary-600 group-hover:text-white text-lg group-hover:font-semibold mb-1'>S </p>
          <p
            class='text-primary-600 group-hover:text-white rounded-full bg-warning-200 group-hover:bg-secondary-300 px-2 py-1 '>
            12 </p>
        </div>
      </div>
    </div>
  </div>


  <!-- -----------------------------------------Segunda Seccion----------------------------------------- -->


  <!-- Card 1 -->
  <div class="flex items-center  border-y border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">1</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>

      <div class="flex justify-between ">
        <div class="text-primary-500 text-sm">Progress</div>
        <div class="text-sm text-secondary-500">90%</div>
      </div>

      <div class="relative mt-2 bg-gray-200 rounded-full h-1">
        <div class="bg-secondary-500 h-1 rounded-full w-[90%] relative">
        </div>
      </div>

    </div>
  </div>

  <!-- Card 2 -->
  <div class="flex items-center  border-b border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">2</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>

      <div class="flex justify-between ">
        <div class="text-primary-500 text-sm">Progress</div>
        <div class="text-sm text-secondary-500">90%</div>
      </div>

      <div class="relative mt-2 bg-gray-200 rounded-full h-1">
        <div class="bg-secondary-500 h-1 rounded-full w-[90%] relative">
        </div>
      </div>

    </div>
  </div>

  <!-- Card 3 -->
  <div class="flex items-center  border-b border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">3</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>

      <div class="flex justify-between ">
        <div class="text-primary-500 text-sm">Progress</div>
        <div class="text-sm text-secondary-500">90%</div>
      </div>

      <div class="relative mt-2 bg-gray-200 rounded-full h-1">
        <div class="bg-secondary-500 h-1 rounded-full w-[90%] relative">
        </div>
      </div>

    </div>
  </div>

  <!-- Card 4 -->
  <div class="flex items-center  border-b border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">4</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>


      <div class="mt-2 text-sm text-primary-500">Description of a pending activity, text, audio, etc.</div>


    </div>
  </div>

  <!-- Card 5 -->
  <div class="flex items-center  border-b border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">5</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>


      <div class="mt-2 text-sm text-primary-500">Description of a pending activity, text, audio, etc.</div>


    </div>
  </div>

  <!-- Card 6 -->
  <div class="flex items-center  border-b border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">8</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>

      <div class="flex justify-between ">
        <div class="text-primary-500 text-sm" >Progress</div>
        <div class=" text-secondary-500 text-sm">90%</div>
      </div>

      <div class="relative mt-2 bg-gray-200 rounded-full h-1">
        <div class="bg-secondary-500 h-1 rounded-full w-[90%] relative">
        </div>
      </div>

    </div>
  </div>

  <!-- Card 7 -->
  <div class="flex items-center  border-b border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">5</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>


      <div class="mt-2 text-sm text-primary-500">Description of a pending activity, text, audio, etc.</div>


    </div>
  </div>

  <!-- Card 8 -->
  <div class="flex items-center  border-b border-primary-400">
    <div class="text-5xl  text-primary-400 mx-3">8</div>

    <div class=" py-3 w-full mx-2 ">

      <div class="flex justify-between items-center mb-1">
        <div class="font-semibold text-primary-500 ">Physics I - Study flashcards</div>
        <div class="text-primary-700 text-sm">14:00 - 14:45</div>
      </div>

      <div class="flex justify-between ">
        <div class="text-primary-500 text-sm" >Progress</div>
        <div class=" text-secondary-500 text-sm">90%</div>
      </div>

      <div class="relative mt-2 bg-gray-200 rounded-full h-1">
        <div class="bg-secondary-500 h-1 rounded-full w-[90%] relative">
        </div>
      </div>

    </div>
  </div>


</div>
