<!-- Main Content -->
<!-- Information Section -->
<main class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-2 h-auto py-40">

  <!-- Text Section -->
  <div class=" px-7 my-auto order-2 lg:order-1 sm:h-max">
    <h1 class="text-5xl justify-start font-semibold text-primary-400 ">Master Your Studies</h1>
    <p class="text-primary-600 my-10 w-full ">Discover the enchantment of studying with our
      <span class="font-bold">AI powered tools</span>, crafted to unlock your full academic potential.
    </p>
    <button class=" btn-base-primary  py-2 px-6 rounded-lg w-full font-semibold text-2xl">¡Start Now!</button>
  </div>

  <!-- Image Section -->
  <div class=" col-span-1 lg:col-span-2 order-1 lg:order-2 hidden sm:block">
    <img src="../assets/images/hero.svg" alt="StudyBuddy Image" class="w-full h-auto object-cover">
  </div>

</main>

<!-- Second Content -->
<section class="bg-warning-300 ">

  <!-- Tittle Content -->
  <div class=" container mx-auto flex flex-col items-center justify-center h-auto py-16 ">
    <div class="text-center">
      <h1 class="text-6xl font-bold text-secondary-300 ">Optimized Learning</h1>
      <p class="text-secondary-600 max-w-xl mx-auto">Adapt study habits with smart technology.</p>
    </div>

    <!-- Carrousel Content -->
    <div class="container mx-auto mt-5">
      <img src="../assets/images/carrousel.svg" alt="StudyBuddy Image" height="auto" width="100%">
    </div>
  </div>
</section>

