<div class="sidebar-container flex">
  <!-- Checkbox para manejar la transición -->
  <input type="checkbox" id="sidebar-toggle" class="hidden">

  <!-- Contenedor del Sidebar -->
  <div class="sidebar flex flex-col overflow-hidden bg-primary-800 h-screen " id="sidebar">
    <label for="sidebar-toggle" class="flex items-center justify-center mt-6 mb-5 cursor-pointer">
      <img class="w-8 h-8" src="./assets/icons/imagotipo.svg" alt="Icon">
    </label>

    <div class="flex flex-col items-start mt-3  w-full px-2">

        <a class="flex items-center w-full h-12 mt-2 rounded-[18px] bg-white  text-secondary-400" href="#">
          <img class="ml-3 w-6 h-6" src="./assets/icons/icon-overview.svg" alt="Icon">
          <span class="ml-5 font-medium">Overview</span>
        </a>


      <a class="flex items-center w-full h-12 mt-2 rounded-[18px] hover:bg-white text-white hover:text-secondary-400 " href="#">
        <img class="ml-3 w-6 h-6 " src="./assets/icons/icon-study.svg" alt="Icon">
        <span class="ml-5 font-medium">Study</span>
      </a>

      <a class="flex items-center w-full h-12 mt-2 rounded-[18px] hover:bg-white text-white hover:text-secondary-400" href="#">
        <img class="ml-3 w-6 h-6  " src="./assets/icons/icon-material.svg" alt="Icon">
        <span class="ml-5 font-medium">Material</span>
      </a>

      <a class="flex items-center w-full h-12 mt-2 rounded-[18px] hover:bg-white text-white hover:text-secondary-400" href="#">
        <img class="ml-3 w-6 h-6 " src="./assets/icons/icon-settings.svg" alt="Icon">
        <span class="ml-5 font-medium">Settings</span>
      </a>

    </div>

    <a class="flex items-center justify-center w-16 h-16 mt-auto " href="#">
      <img class="" src="./assets/icons/icon-help.svg" alt="Icon">
    </a>

  </div>
</div>
