<!-- Form Container -->
<div class="flex flex-col space-y-4 mx-auto bg-[#ffc864] ">

  <h2 class="text-5xl text-secondary-500 text-center">Welcome Buddy!</h2>

  <!-- Email or Username Input -->
  <label for="email" class="label-secondary">Email or username</label>
  <input type="email" id="email" class="input-text-secondary w-full" placeholder="Enter your email" />

  <!-- Password Input -->
  <label for="password" class="label-secondary">Password</label>
  <input type="password" id="password" class="input-text-secondary w-full" placeholder="Enter your password" />

  <!-- Button Let’s study → -->
  <button class="btn-base-primary py-2 px-6 mt-6 self-center">Let’s study →</button>

  <!-- Line New here? -->
  <div class="flex items-center my-4 w-full justify-center">
    <hr class="flex-grow border-secondary-500 border-t-2" />
    <span class="text-secondary-500 mx-4 whitespace-nowrap font-semibold">New here?</span>
    <hr class="flex-grow border-secondary-500 border-t-2" />
  </div>

  <!-- Button Become a buddy → -->
  <button class="btn-base-primary btn-no-bg mt-6 self-center">Become a buddy →</button>

</div>
